*{
    margin: 0%;
    padding: 0%;
}

.color{
    background-color: #047477;
    width: 100%;
    height: 300px;
}

.school{
    text-align: center;
}

.school h1{
    color: white;
    margin-top: 100px;
}

.best h3{
    text-align: center;
    opacity: 0.8;
    font-size: 22px;
    margin-top: 90px;
}

.apply button{
    background-color: #4C7876; 
    padding: 10px 40px; 
    margin: 10px 30px; 
    border: none; 
    color: white;
}

.apply button:hover{
    background-color: white;
    border: 2px solid #047477;
    transition: 0.9s;
    color: black;
}

.veiw{
    background-color: #047477;
    padding: 10px 30px;
    width: 200px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    margin-left: 15px;
    margin-bottom: 20px;
    color: white;
    gap: 20px;

}

.veiw a{
    text-decoration: none;
    color: white;
    display: flex;
    gap: 20px;
}
.veiw:hover{
    background-color: white;
    border: 2px solid #047477;
    transition: 2s;
    
    
}
